@import 'themeColors'
$theme-font: verdana, sans-serif
$z-header: 20

body, html
  font: $theme-font
  height: 100%
  padding: 0
  margin: 0
  text-align: center
  font-size: 16px
  background-color: $theme-color-primary

.flex
  display: flex;

.flex-inline
  display: inline-flex

.flex-row
  flex-direction: row

.flex-row-reverse
  flex-direction: row-reverse

.flex-justify-end
  justify-content: flex-end

.flex-justify-start
  justify-content: flex-start

.flex-justify-space-around
  justify-content: space-around

.flex-justify-center
  justify-content: center

.flex-justify-between
  justify-content: space-between

.flex-align-end
  align-items: flex-end

.flex-align-center
  align-items: center
