@import 'themeColors'
$theme-font:    verdana, sans-serif

body, html
  font: $theme-font
  height: 100%
  margin: 0
  text-align: center

.flex-inline
  display: inline-flex

.flex-row
  flex-direction: row

.flex-row-reverse
  flex-direction: row-reverse

.flex-justify-end
  justify-content: end
