@import '../../styles/themeColors.sass'

.header
  &__menu
    width: 30rem
    &__logo

    &__item
      background-color: $theme-color-light
      color: $theme-color-primary
      &--selected
        background-color: $theme-color-primary
        color: $theme-color-light
