@import '../../styles/themeColors.sass'

.sidebar
  height: 100%
  width: 20rem
  background: $theme-color-light

.container-full
  height: 100%
  width: 100%

.container-auto
  height: auto
  width: auto

.left-menu
  height: 100%
  width: 30rem
  -webkit-transition: width 2s, height 4s /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s
  background: $theme-color-dark
